body{
font-family: sans-serif;
color: 77777777;
line-height: 26px;
}

 h1 {
 font-size: 2.5 em;
  }
  
  h4{
  color: blue;
  }


.purple-color{
color:#8845f4 ;
}

.side-things{
float: left;
}
.half-width{
 width: 50%;
 float: left;
}

 .side-img {
 width: 60%;
 padding-left: 25%;
 padding-top: 35%;
 }

   .primary-btn{
    color: white;
    background-color: #8845f4;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}
.container{
    padding-left: 5%;
    display: inline-block;
    margin: 5px;
    }
    
.experiences{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 251, 255);
    border-radius: 18px;
   }

 .experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2);
}

footer{
background-color: #8845f4;
color: white;
text-align: left;
padding-left:10px;

}





